**/.xqz-u-egg
**/.aim

dopamine/thesis/scratch

resources/data
resources/images
resources/papers/auto
resources/papers/_minted-summary
resources/papers/summary.tex
resources/papers/summary.pdf
resources/**/.pdf-view-restore
resources/**/*.bbl

**/__pycache__