**/.xqz-u-egg
**/.aim

# dopamine/thesis/scratch

resources/data/*
!resources/data/mongodb
resources/data/mongodb/*
!resources/data/mongodb/docker-compose.yml
!resources/data/mongodb/mongoconf

resources/images

resources/papers/auto
resources/papers/_minted-summary
resources/papers/summary.tex
resources/papers/summary.pdf
resources/papers/journal.tex
resources/papers/journal.pdf
resources/**/.pdf-view-restore
resources/**/*.bbl

**/__pycache__