# /.xqz-u-egg
**/.aim
**/.Rhistory
**/__pycache__
**/.ipynb_checkpoints

# dopamine/thesis/scratch
peregrine/reprex

resources/data/*
!resources/data/mongodb
resources/data/mongodb/*
!resources/data/mongodb/docker-compose.yml
!resources/data/mongodb/mongoconf
!resources/data/mongodb/Singularity

resources/images

resources/literature/auto
resources/literature/_minted-summary
resources/literature/summary.tex
resources/literature/summary.pdf
resources/literature/journal.tex
resources/literature/journal.pdf
resources/**/.pdf-view-restore
resources/**/*.bbl

resources/paper/template
resources/paper/thesis.pdf
resources/paper/thesis.out
resources/paper/table.pdf
resources/paper/stats_test_table.pdf
resources/paper/stats_test_table.tex

resources/symposium/beamer-test
resources/symposium/offline_rl_gif
# resources/symposium/symposium_pres.tex

**/*.log
**/*.aux
